IOS_APPS = {
    'consumer': {
        'id': 'dummy app id',
    },
    'provider': {
        'id': 'dummy app id',
    }
}

ANDROID_APPS = {
    'consumer': {
        'packageName': 'dummy package name',
        'credentials': {},
    },
    'provider': {
        'packageName': 'dummy package name',
        'credentials': {},
    }
}

CRM = {
    'freshdesk': {
        'domain': 'your domain',
        'api_key': 'your api key',
        'password': 'your password',
    }
}

TWITTER = {
    'consumer_key': 'dummy',
    'consumer_secret': 'dummy',
    'access_token': 'dummy',
    'access_token_secret': 'dummy',
    'admin_ids': [],
}

AZURE = {
    'url': 'https://westcentralus.api.cognitive.microsoft.com/text/analytics',
    'api_version': 'v2.0',
    'keys': ['key1', 'key2'],
    'sentiment_url_suffix': 'sentiment',
}

AWS = {
    'access_key_id': 'dummy',
    'secret_access_key': 'dummy/secret',
    'region': 'us-east-1',
    'batch_size': 25,
}

BACKEND = 'csv'

APP_NAME = 'app'

DEBUG = False
TESTING = False

# SQLAlchemy configs
DB_HOST = 'mysql'
DB_NAME = 'omnichannel'
DB_USER = 'root'
DB_PASS = ''
SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@{}/{}'.format(
    DB_USER, DB_PASS, DB_HOST, DB_NAME
)
SQLALCHEMY_TRACK_MODIFICATIONS = False
